{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" type="image/png" sizes="32x30" href="{% static 'backend/images/favicon1.png' %}">
    <link href="{% static 'backend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/custom-fonts.css' %}" rel="stylesheet">
    <link href="{% static 'backend/css/admin.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="admin">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3" id="top-sidebar">
          <a href="{% url 'backend:index' %}">
            <img src="{% static 'backend/images/admin-logo.png' %}" class="img-responsive">
          </a>
        </div>
        <div class="col-sm-9" id="top-content">
          <div class="status pull-right">
            <img src="{% static 'backend/images/user.jpg' %}" class="img-circle">
            <div class="userStatus">
              <a class="userStatus dropdown-toggle" data-toggle="dropdown" id="userStatus">
                  {{ user.first_name }}
                   <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
               <li><a href="{% url 'backend:logout' %}">Log Out</a></li>
               <li><a href="{% url 'backend:my_profile' %}">My Profile</a></li>
               <li><a href="{% url 'backend:pass_form' %}">Change Password</a></li>
               <li><a href="{% url 'backend:edit_form' %}">Edit Profile</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        {% include 'backend/sidebar.html' %}
        {% block content %}
        {% endblock %}
      </div>

    </div>



   




    
    <script src="{% static 'backend/js/jquery.js' %}"></script>
    <script src="{% static 'backend/js/bootstrap.min.js' %}"></script>
  </body>
</html>