{% extends 'backend/base.html' %}
{% load static %}
{% block title %}
{{ user.first_name }}| {{ user.last_name }}
{% endblock %}

{% block content %}
<div class="col-sm-9" id="admin-main-content">
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <div class="post-content">
         
         <h3>Edit My profile</h3>

         <form  method="post" class="form" enctype="multipart/form-data">
           {{ edit }}
           {{ ext }}
           
           {% csrf_token %}
           <input type="submit"  class="btn btn-success btn-block" value="Edit profile">
         </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}