{% extends 'backend/base.html' %}
{% load static %}
<!doctype html>
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="col-sm-9" id="admin-main-content">
  <div class="row">
    <div class="col-sm-2">
     <div class="inner-box">
       <a href=""> 
        <i class="fa fa-lock"></i> 
         <span>4</span>
        <h4> Super Users</h4>
       </a>
     </div>
    </div> 
    <div class="col-sm-2">
     <div class="inner-box">
       <a href=""> 
        <i class="fa fa-users"></i>
        <span>15</span>
        <h4>Regular Users</h4>
       </a>
     </div>
    </div> 
    <div class="col-sm-2">
     <div class="inner-box">
       <a href=""> 
        <i class="fa fa-male"></i> 
         <span>10</span>
         <h4> Male</h4>
         <span class="little-text">Subscribers</span>
       </a>
     </div>
    </div> 
    <div class="col-sm-2">
     <div class="inner-box">
       <a href=""> 
        <i class="fa fa-female"></i> 
        <span>9</span>
        <h4>Female</h4>
        <span class="little-text">Subscribers</span>
       </a>
     </div>
    </div> 
    <div class="col-sm-2">
     <div class="inner-box">
       <a href=""> 
        <i class="fa fa-pencil-square-o"></i>
        <span>50</span>
        <h4>Posts</h4>
       </a>
     </div>
    </div>
    <div class="col-sm-2">
     <div class="inner-box">
       <a href=""> 
        <i class="fa fa-object-group"></i>
        <span>10</span>
        <h4>Categories</h4>
       </a>
     </div>
    </div>
   
  </div>
</div>
{% endblock %}