{% extends 'correction_app/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
About
{% endblock %}
{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>About Us</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">
        {% if abt %}
        {% for ab in abt %}
        <div class="col-sm-4">
          <a href="{% url 'about_detail' ab.id %}">
              <img src="{{ ab.abt_img.url }}" class="img-circle">
          </a>
          <h2>{{ ab.abt_title }}</h2>
          <a href="{% url 'about_detail' ab.id %}" class="btn btn-primary">Readmore</a>
        </div>
        {% endfor %}

        {% endif %}
       
       
      </div>
    </div>
    {% include 'correction_app/sidebar.html' %}
  </div>
</section>
{% endblock %}