{% extends 'correction_app/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Contact
{% endblock %}

{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1>Contact</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9" id="mainContent">
      <div class="row">
        <div class="col-sm-12">
         <div class="row">
             <div class="col-sm-12">
                <h2>Post Form </h2>

                <form method='POST' enctype="multipart/form-data">
                    {{ pst_key }}
                    {% csrf_token %}
                    <input type="submit" class='btn btn-danger' value="Submit">
                </form>
               
               
             </div>
            
         </div>
        </div>
      </div>
    </div>
   {% include 'correction_app/sidebar.html' %}
  </div>
</section>
{% endblock %}